
body {
  position: relative;
  min-height: 100vh;
}

.myNavbar {
  background-color: #171c26;
  color: #ffffff;
  position: relative;
}

.myNavbar > div {
  font-size: 50px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.7rem;
  word-spacing: 3rem;
  font-weight: 700;
}

#sidebarBtn {
  /* position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%); */
}

#logoutbtn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.addCustomerModalButtonDiv {
  margin-block: 20px;
}

.searchInputDiv {
  width: 400px;
}


table,
th,
td {
  border: 1px solid;
  font-weight: 500;
  font-size: large;
}

table {
  width: 100%;
  box-sizing: border-box;
}

td {
  padding: 6px 10px;
}

.nameBox {
  display: flex;
  justify-content: space-between;
}

.reNameIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.reNameIcon:hover {
  background-color: beige;
}

.reNameIcon:active {
  background-color: rgb(229, 229, 182);
}

.entryField > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.entryField input:first-child {
  width: 100px;
  text-align: center;
}

.manualContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 200px;
}

.noData {
  color: red;
  text-align: center;
  font-size: larger;
}

.footer {
  background-color: #171c26;
  height: 300px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerText {
  font-size: 50px;
  font-style: oblique;
  text-align: center;
}

.contactUs {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 40px;
}
.contactUs img {
  width: 100px;
}

#total_balance {
  padding-left: 20px;
  font-size: 20px;
}

.hr {
  border: 2px dashed;
}



@media screen and (max-width: 1024px) {
  .myNavbar > div {
    font-size: 40px;
    letter-spacing: 0.4rem;
    word-spacing: 2rem;
  }

  .footer {
    height: 270px;
  }
  .footerText {
    font-size: 40px;
  }

  .contactUs {
    gap: 40px;
    font-size: 30px;
  }
  .contactUs img {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .myNavbar > div {
    font-size: 40px;
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
    font-weight: 500;
  }

  .footer {
    height: 220px;
  }
  .footerText {
    font-size: 30px;
  }

  .contactUs {
    gap: 30px;
    font-size: 25px;
  }
  .contactUs img {
    width: 70px;
  }
}

@media screen and (max-width: 550px) {
  .myNavbar > div {
    font-size: 20px;
    font-weight: 300;
  }

  .footer {
    height: 180px;
  }
  .footerText {
    font-size: 20px;
  }

  .contactUs {
    gap: 20px;
    font-size: 20px;
  }
  .contactUs img {
    width: 50px;
  }
}
