table,
th,
td {
  border: 1px solid;
  font-weight: 500;
  font-size: large;
}

table {
  width: 100%;
  box-sizing: border-box;
}

td {
  padding: 6px 10px;
}

.nameBox {
  display: flex;
  justify-content: space-between;
}

.reNameIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.reNameIcon:hover {
  background-color: beige;
}

.reNameIcon:active {
  background-color: rgb(229, 229, 182);
}

.addCustomerModalButtonDiv {
  margin: 20px auto;
}

.myNavbar {
  background-color: #171c26;
  color: #ffffff;
}

.myNavbar > div {
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.7rem;
  word-spacing: 3rem;
  font-weight: bold;
}

.footer {
  background-color: #171c26;
  margin-top: 300px;
  height: 300px;
  color: #ffff;
}

.footerText {
  font-size: 50px;
  font-style: oblique;
  text-align: center;
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  font-size: 40px;
}
.contactUs img {
  width: 100px;
}
.entryField > div {
  position: relative;
}
.entryField .alertMessage {
  position: absolute;
  top: 90%;
  left: 10%;
  z-index: 1000;
  width: fit-content;
  background-color: rgba(240, 7, 7, 0.5);
  padding: 0px 30px;
  border-radius: 5px;
  display: none;
}
